.btn {
  color: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: $font-secondary;
  text-align: center;
  line-height: 1;
  transition: all 0.2s;

  &--primary {
    color: $font-color-light;
    padding: 1.5rem 3rem;
    background-color: $color-primary;
  }
  &--secondary {
    color: $font-color-light;
    padding: 1.5rem 3rem;
    background-color: $color-secondary;
  }

  &:link {
    text-decoration: none;
  }

  &:hover {
    opacity: 0.9;
    transform: scale(1.05) translateY(-2px);
  }

  &:active {
    opacity: 1;
    transform: scale(0.95) translateY(2px);
  }


}
