.burger {
  position: fixed;
  left: 0;
  height: 5rem;
  width: 10rem;
  display: flex;
  align-items: center;
  padding: 3rem;
  z-index: 20;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: $color-primary;

  &__line {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: background-color 0.3s 0.2s;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: white;
      transition: transform 0.5s, background-color 0.3s 0.2s;
    }

    &::before {
      transform: translateY(-10px);
    }
    &::after {
      transform: translateY(10px);
    }

    &--open {
      width: 40px;
      background-color: transparent;
      transition: background-color 0s;

      &::before {
        opacity: 1;
        transform: translateY(0) rotate(45deg);
      }
      &::after {
        opacity: 1;
        transform: translateY(0) rotate(-45deg);
      }
    }
  }
}
