.feature {
  display: grid;
  grid-template-areas:
    "image heading"
    ". body";
  align-items: center;
  grid-gap: 0rem 2rem;
  padding: 1rem;

  &__icon {
    color: $color-primary;
    font-size: 4.5rem;
    grid-area: image;
  }

  &__heading {
    grid-area: heading;
  }

  &__body {
    align-self: start;
    grid-area: body;
  }
}
