.listing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem 0;
  background: $color-grey-light-1;

  &__img {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
  }

  &__btn {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    align-self: end;
    transform: translateY(50%);
    justify-self: center;

    &:hover {
      transform: scale(1.05) translateY(48%);
    }
  }

  &__info {
    align-self: end;
    margin-left: 2rem;
    display: flex;
    align-items: center;

    &:first-of-type {
      margin-top: 3rem;
    }
  }

  &__icon {
    color: $color-primary;
    margin-right: 2rem;
  }

  &__btn-2 {
    grid-column: 1 / -1;
  }
}
