.home {
  width: 100%;
  display: grid;

  grid-template-columns:
    [sidebar-start] minmax(min-content, max-content)
    [main-start] minmax(min-content, 5fr)
    [third-start] minmax(min-content, 2fr) [third-end main-end sidebar-end];
  // grid-template-rows: repeat(6, auto);
  // grid-auto-rows: fit-content;
  justify-items: stretch;

  @include media(small-tab) {
    grid-template-columns:
      [sidebar-start] minmax(min-content, max-content)
      [sidebar-end main-start] minmax(min-content, 5fr)
      [third-start] minmax(min-content, 2fr) [third-end main-end];
  }

  &__header {
    grid-column: main;
    height: 100%;
    min-height: calc(100vh - 10rem);
    background-image: linear-gradient(
        rgba($color-secondary, 0.9),
        rgba($color-secondary, 0.9)
      ),
      url("../../img/hero.jpeg");
    background-size: cover;

    @extend %container;

    @include media(small-tab) {
      min-height: 100vh;
    }

    @include media(tablet) {
      grid-column: main-start / third-start;
    }
  }

  &__realtors {
    grid-area: 3 / main-start / span 1 / -1;

    background: $color-secondary;
    @extend %container;
    color: $font-color-light;

    @include media(small-tab) {
      grid-area: 2 / main-start / span 1 / -1;
    }

    @include media(tablet) {
      grid-row: 1 / span 1;
      // grid-column: col-start 4 / max-end;
      grid-column: third;
    }
  }

  &__sidebar {
    position: relative;
    grid-row: 1 / span 1;
    grid-column: sidebar;
    background: $color-primary;
    height: 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include media(small-tab) {
      height: 100%;
      justify-content: center;
      align-items: start;
      padding: 2rem 5rem;
      grid-row: 1 / span 7;
    }

    @include media(tablet) {
      grid-row: 1 / span 6;
    }

    @extend %container;
  }

  &__features {
    background: #f3f3f3;
    grid-column: main;
    color: $font-color-dark;

    @extend %container;
  }

  &__story {
    grid-column: main;

    @extend %container;
  }

  &__listings {
    width: auto;
    grid-column: center;
    grid-column: main;
    color: $font-color-dark;

    @extend %container;
  }

  &__gallery {
    grid-column: main;
    background: $color-grey-light-1;
    @extend %container;
  }

  &__footer {
    grid-column: main;
    background-color: $color-secondary;
    color: $font-color-light;

    @extend %container;
  }
}
