$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$font-color-light: rgba(#f3f3f3, 0.8);
$font-color-dark: rgba(#54483a, 0.8);

$font-primary: "Nunito", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;

$padding-section: 4rem;
$padding-section-big: 12rem;
$padding-section-medium: 8rem;
$padding-section-small: 2rem;

$breakpoint: (
  "small-tab": 900px,
  "tablet": 1100px,
);
